BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P.senslogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: black; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P.menu {
	PADDING-RIGHT: 2px; BORDER-TOP: #ff957b 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 65%; BORDER-LEFT-COLOR: #000; BACKGROUND: #f30; PADDING-BOTTOM: 2px; MARGIN: 0px; WORD-SPACING: 0px; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #5d1300 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: #000
}
P.menu A {
	COLOR: white; TEXT-DECORATION: none
}
P.menu A:visited {
	COLOR: white
}
P.menu A:hover {
	COLOR: black
}
P.menu A:active {
	COLOR: black
}
P.copyright {
	FONT-SIZE: 70%; MARGIN-LEFT: 1em
}
TABLE.main {
	MARGIN-TOP: 0px; BACKGROUND: url(images/sound_bg.jpg) no-repeat
}
P.sideNav {
	PADDING-LEFT: 1em; FONT-SIZE: smaller; MARGIN: 0px; WIDTH: 12em; PADDING-TOP: 1em; TEXT-ALIGN: left
}
P.sideNav A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
P.sideNav A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
P.sideNav A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
P.sideNav A:hover {
	COLOR: #ff3300
}
TD.content {
	PADDING-RIGHT: 2em; PADDING-LEFT: 1em; FONT-SIZE: smaller; TEXT-ALIGN: justify
}
TD.content H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 135%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD.content H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD.content H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD.content P {
	MARGIN-TOP: 0.75em; MARGIN-BOTTOM: 0.75em
}
TD.pic {
	PADDING-RIGHT: 1em; FONT-SIZE: smaller; TEXT-ALIGN: left
}
TD.pic H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 135%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD.pic H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD.pic H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.twotone {
	COLOR: #f30
}
.bold {
	FONT-WEIGHT: bolder
}
.small {
	FONT-SIZE: smaller
}
TH {
	TEXT-ALIGN: left
}
H1.pageheading {
	PADDING-LEFT: 1em; FONT-WEIGHT: 600; FONT-SIZE: 220%; TEXT-TRANSFORM: lowercase; PADDING-TOP: 0.3em; FONT-FAMILY: Trebuchet MS, sans-serif
}
DIV.line {
	BORDER-TOP: #888 32ex solid; WIDTH: 1px
}
